<!DOCTYPE html>
<html style="height: 100%">

<head>
    <meta charset="UTF-8">
    <base href="/bigscreen_kj/page2">
    <!-- import CSS -->
    <script src="static/echarts.js"></script>
    <script src="static/dark.js"></script>
    <link rel="stylesheet" href="static/element-ui.css">
    <style type="text/css">

    </style>
</head>

<body style="background-image: url(static/image1.jpeg); background-repeat:no-repeat;
                background-size:100% 100%;">
    <div id="app" style="display: flex;flex-direction:column; margin-top: 35px; ">
        <div id='top' style="height:70px; display: flex; flex-direction:row;">
            <div id="left" style="width: 100%;">
                <div style="font-size: 2.2em; color: #eeeeee; font-weight: bold; text-align: center; background-color: #5B9BE7">截止{[top_table_data[0]]}:{[top_table_data[1]]}分,当日执行工单{[top_table_data[2]]},呼通工单{[top_table_data[3]]},接通率{[top_table_data[4]]}%,有效外呼工单{[top_table_data[5]]},营销成功率{[top_table_data[6]]}%,受理成功数{[top_table_data[7]]}</div>
            </div>              
        </div>

        <div id='bottom' style="margin-top: 30px; display: flex; flex-direction:row;">
            <div  style="width: 1%;"></div>
            <div id="paint" style="width: 47%; height:900px;"></div>
            <div  style="width: 4%;"></div>
            <div id="paint2" style="width: 47%; height:900px;"></div>
            <div  style="width: 1%;"></div>
        </div>


      
    </div>
</body>
<!-- import Vue before Element -->
<script src="static/vue.js"></script>
<!-- import JavaScript -->
<script src="static/element-ui.js"></script>
<script src="static/axios.min.js"></script>
<script>
    var vm = new Vue({
        delimiters: ['{[', ']}'],
        el: '#app',
        data: function () {
            return {
                dialogVisible: false,
                loading: false,
                left_table_data: [],
                right_table_data: [],
                top_table_data: [],
            }
        },
        methods: {
            loaddata: function () {
                axios.get('slide_two')
                    .then(response => {
                        this.left_table_data = response.data.left_table_data
                        this.right_table_data = response.data.right_table_data
                        this.top_table_data = response.data.top_table_data
                        // console.log(this.right_table_data)
                        this.loading = false
                        this.show_barchart_left()
                        this.show_barchart_right()
                    })
                    .catch(function (error) {
                        this.loading = false
                        console.log(error)
                    });
            },
            show_barchart_left:function(){
                // 绘制图表。
                echarts.init(document.getElementById('paint'),'dark').setOption({
                    backgroundColor: '',
                    title:{
                        show: true,
                        text: '项目执行量日报',
                        x: 'left',
                        textStyle: {fontSize: 25,color: '#6AE7FF'}
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    legend: {
                        data: ['受理成功数', '营销成功量', '执行工单量', '派发工单量'],
                        y: 'top',
                        x: 'right',
                        textStyle: {fontSize: 23,color: '#6AE7FF',}
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        show: false,
                        type: 'value',
                        boundaryGap: [0, 0.01],
                        max: 2000,
                        min: 0,
                        axisLabel: {fontSize: 20},
                        nameTextStyle: {fontSize: 20},
                        splitLine:{
                           show:false     //去掉网格线
                        }
                    },
                    yAxis: {
                        type: 'category',
                        data: this.left_table_data[0],
                        nameTextStyle: {fontSize: 20},
                        splitLine:{
                           show:false     //去掉网格线
                        },
                        axisLabel: {
                            fontSize: 15,
                            // margin: 195,
                            // align:'left',
                            // baseline:'middle',
                            color: '#6AE7FF',
                            formatter:function(params){
                            //粘贴以下function内未注释的代码
                                var newParamsName = "";// 最终拼接成的字符串
                                var paramsNameNumber = params.length;// 实际标签的个数
                                var provideNumber = 20;// 每行能显示的字的个数
                                var rowNumber = Math.ceil(paramsNameNumber / provideNumber);// 换行的话，需要显示几行，向上取整
                                /**
                                 * 判断标签的个数是否大于规定的个数， 如果大于，则进行换行处理 如果不大于，即等于或小于，就返回原标签
                                 */
                                // 条件等同于rowNumber>1
                                if (paramsNameNumber > provideNumber) {
                                    /** 循环每一行,p表示行 */
                                    for (var p = 0; p < rowNumber; p++) {
                                        var tempStr = "";// 表示每一次截取的字符串
                                        var start = p * provideNumber;// 开始截取的位置
                                        var end = start + provideNumber;// 结束截取的位置
                                        // 此处特殊处理最后一行的索引值
                                        if (p == rowNumber - 1) {
                                            // 最后一次不换行
                                            tempStr = params.substring(start, paramsNameNumber);
                                        } else {
                                            // 每一次拼接字符串并换行
                                            tempStr = params.substring(start, end) + "\n";
                                        }
                                        newParamsName += tempStr;// 最终拼成的字符串
                                    }

                                } else {
                                    // 将旧标签的值赋给新标签
                                    newParamsName = params;
                                }
                                //将最终的字符串返回
                                return newParamsName
                            }
                        },
                    },
                    series: [
                        {
                            name: '受理成功数',
                            type: 'bar',
                            data: this.left_table_data[1],
                            label: {
                                show: true,
                                position: 'insideLeft',
                                fontSize: 20,
                                fontWeight: 'bold',
                                formatter: function(obj) {
                                    if(obj.value == 0) {
                                        return '';
                                    }
                                },
                            },
                        },
                        {
                            name: '营销成功量',
                            type: 'bar',
                            data: this.left_table_data[2],
                            label: {
                                show: true,
                                position: 'insideLeft',
                                fontSize: 20,
                                fontWeight: 'bold',
                                formatter: function(obj) {
                                    if(obj.value == 0) {
                                        return '';
                                    }
                                },
                            },
                        },
                        {
                            name: '执行工单量',
                            type: 'bar',
                            data: this.left_table_data[3],
                            label: {
                                show: true,
                                position: 'insideLeft',
                                fontSize: 20,
                                fontWeight: 'bold',
                                formatter: function(obj) {
                                    if(obj.value == 0) {
                                        return '';
                                    }
                                },
                            },
                        },
                        {
                            name: '派发工单量',
                            type: 'bar',
                            data: this.left_table_data[4],
                            label: {
                                show: true,
                                position: 'insideLeft',
                                fontSize: 20,
                                fontWeight: 'bold',
                                formatter: function(obj) {
                                    if(obj.value == 0) {
                                        return '';
                                    }
                                },
                            },
                        }
                    ]
                    
                });                
            },
            show_barchart_right:function(){
                // 绘制图表。
                echarts.init(document.getElementById('paint2'),'dark').setOption({
                    backgroundColor: '',
                    title:{
                        show: true,
                        text: '外呼拨叫量日报',
                        x: 'left',
                        textStyle: {color: '#6AE7FF'}
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    legend: {
                        data: ['外呼呼通量', '有效外呼量', '人均有效数'],
                        x: 'right',
                        y: 'top',
                        textStyle: {fontSize: 20, color: '#6AE7FF'}
                    },
                    toolbox: {
                        show: true,
                        orient: 'vertical',
                        left: 'right',
                        top: 'center',
                    },
                    calculable: true,
                    xAxis: [
                        {
                            type: 'category',
                            axisTick: {show: false},
                            data: this.right_table_data[0],
                            axisLabel: {fontSize: 20, rotate:30, color: '#6AE7FF'},
                            nameTextStyle: {fontSize: 20},
                            splitLine:{
                               show:false     //去掉网格线
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            position: 'left',
                            // name: '受理成功量',
                            axisLabel: {fontSize: 20},
                            nameTextStyle: {fontSize: 20},
                            splitLine:{
                               show:false     //去掉网格线
                            }
                        },
                        {
                            type: 'value',
                            position: 'right',
                            // name: '营销成功量',
                            axisLabel: {fontSize: 20},
                            nameTextStyle: {fontSize: 20} , 
                            splitLine:{
                               show:false     //去掉网格线
                            }          
                            // max: 150,
                            // min: 0
                        }
                    ],
                    series: [
                        {
                            name: '外呼呼通量',
                            type: 'bar',
                            xAxisIndex: 0,
                            yAxisIndex: 0,
                            barGap: 0,
                            label: {
                                show: true,
                                position: 'inside',
                                fontSize: 20,
                                fontWeight: 'bold',
                                formatter: function(obj) {
                                    if(obj.value == 0) {
                                        return '';
                                    }
                                },
                            },
                            data: this.right_table_data[1],
                            itemStyle:{  
                                normal:{  
                                    color:'#2782C0',    
                                }  
                            },
                        },
                        {
                            name: '有效外呼量',
                            type: 'bar',
                            xAxisIndex: 0,
                            yAxisIndex: 0,
                            label: {
                                show: true,
                                position: 'inside',
                                fontSize: 20,
                                fontWeight: 'bold',
                                formatter: function(obj) {
                                    if(obj.value == 0) {
                                        return '';
                                    }
                                },
                            },
                            data: this.right_table_data[2],
                            itemStyle:{  
                                normal:{  
                                    color:'#6AE7FF',    
                                }  
                            },
                        },
                        {
                            name: '人均有效数',
                            type:'line',
                            xAxisIndex: 0,
                            yAxisIndex: 1,
                            label: {
                                show: true,
                                position: 'top',
                                fontSize: 20,
                                fontWeight: 'bold',
                                formatter: function(obj) {
                                    if(obj.value == 0) {
                                        return '';
                                    }
                                },
                            },
                            data: this.right_table_data[3],
                            itemStyle:{  
                                normal:{  
                                    color:'#eeeeee',
                                    lineStyle:{    
                                        color:'#4472C4',
                                        width:4// 0.1的线条是非常细的了    
                                    }    
                                }  
                            },
                        }
                    ]
                    
                });                
            }
        },
        mounted() {
            this.loading = true
            this.loaddata()
            // this.show_barchart()
            window.setInterval("vm.loaddata()",1000*60*5);
        },
    })
</script>

</html>