<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <base href="/bigscreen_kj/page0">
    <!-- import CSS -->
    <script src="static/echarts.js"></script>
    <script src="static/dark.js"></script>
    <link rel="stylesheet" href="static/element-ui.css">
    <style type="text/css">
    </style>
</head>

<body style="background-image: url(static/{{req_param}}.jpg); background-repeat:no-repeat;
                background-size:100% 100%; height: 1050px">
</body>
<!-- import Vue before Element -->
<script src="static/vue.js"></script>
<!-- import JavaScript -->
<script src="static/element-ui.js"></script>
<script src="static/axios.min.js"></script>
<script>
    var vm = new Vue({
        delimiters: ['{[', ']}'],
        el: '#app',
        data: function () {
            return {
                dialogVisible: false,
                loading: false,
                part1: 0
            }
        },
        methods: {
        },
        mounted() {

        },
    })
</script>

</html>