{% extends 'appbuilder/baselayout.html' %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/element-ui.css')}}"></link>
    <style type="text/css">
      input[type=file] {
    display: none;
}

    </style>
{% endblock %}
      {% block content %}
      <div id="app">
          <el-upload
             class="upload-demo"
             :on-preview="handlePreview"
             :on-remove="handleRemove"
             :before-remove="beforeRemove"
             multiple
             :limit="3"
             :on-exceed="handleExceed"
             :file-list="fileList"

             :action="importFileUrl"
             name="importfile"
             :on-error="uploadError"
             :on-success="uploadSuccess"
             :before-upload="beforeAvatarUpload">
            <el-button round type="primary">上传<i class="el-icon-upload el-icon--right"></i></el-button>
            <div class="el-upload__tip">只能上传xls/xlsx文件，且不超过10Mb</div>
          </el-upload>
        </div>
      {% endblock %}
    {% block footer %}

    {% endblock %}
{% block tail_js %}
        {{ super() }}
        <script src="{{url_for('static',filename='js/vue.js')}}"></script>
        <script src="{{url_for('static',filename='js/element-ui.js')}}"></script>
        <script src="{{url_for('static',filename='js/axios.min.js')}}"></script>
        <script>
          var vm = new Vue({
            delimiters: ['{[', ']}'],
            el: '#app',
            data: function () {
              return {
                  importFileUrl: 'input_data',
                  fileList: [],
                  loading: false,
              }
            },
            methods: {
              handleRemove(file, fileList) {
                  console.log(file, fileList);
              },
              handlePreview(file) {
                  console.log(file);
              },
              handleExceed(files, fileList) {
                  this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
              },
              beforeRemove(file, fileList) {
                  return this.$confirm(`确定移除 ${ file.name }？`);
              },
              // 上传成功后的回调
              uploadSuccess (response, file, fileList) {
                this.$alert(response.errmsg, '提示', {
                  confirmButtonText: '确定'
                  })  
              },
              // 上传错误
              uploadError (response, file, fileList) {
                console.log('上传失败，请重试！')
                this.$alert(response.errmsg, '提示', {
                  confirmButtonText: '确定'
                  }) 
              },
              // 上传前对文件的大小的判断
              beforeAvatarUpload (file) {
                  const extension = file.name.split('.')[1] === 'xls'
                  const extension2 = file.name.split('.')[1] === 'xlsx'
                  const isLt2M = file.size / 1024 / 1024 < 10
                  if (!extension && !extension2) {
                      console.log('上传模板只能是 xls、xlsx 格式!')
                  }
                  if (!isLt2M) {
                      console.log('上传模板大小不能超过 10MB!')
                  }
                  return extension || extension2 && isLt2M
              },
            }
          })
        </script>
{% endblock %}